*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

:root{
    --primary-color: rgba(68, 88, 118, 1);
    --secondary-color: rgba(49, 52, 61, 1);
    --tertiary-color: rgba(146, 204, 205, 1);
    --orange: rgba(255,215,0,.3);
}


/* header section */
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 10px 30px 0 0;
}

header h1 {
    font-size: 36px;
    text-align: right;
    padding: 0 10px 0 50px;
    background: var(--tertiary-color);
    max-height: min-content;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
}

.links ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    align-content: center;
    
}

.links ul li {
    border-bottom: 3px solid var(--tertiary-color);
    margin: 5px;
    padding-bottom: 3px;
}

.links ul li a {
    text-decoration: none;
    color: var(--tertiary-color);
    margin: 0 5px;
}


/* hero image section */
.hero {
    background-image: url(./images/hero.avif);
    min-height: 150px;
    position: relative;
}

.hero h3 {
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    width: fit-content;
    padding: 5px;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

/* general content styling */
.content {
    display: flex;
    margin: 30px 100px;
    flex-wrap: nowrap;
    justify-content: center;
    color: var(--primary-color);
}

.section-title {
    text-align: right;
    font-size: 36px;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 3px solid var(--primary-color);
    min-width: 150px;
}

.section-content {
    flex: 0 0 90%;
    
}

.section-content ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/* About Me section */

.about div p {
    line-height: 1.5;
}

/* work section */
.cards {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}

.card {
    flex: 0 0 47%;
    max-width: 50%;
    border: 5px solid var(--tertiary-color);
    min-height: 125px;
    margin: 5px;
    position: relative;
}

.card div {
    padding: 10px;
    background-color: var(--tertiary-color);
    position: absolute;
    bottom: 20px;
}

.card div h4 {
    font-size: 20px;
    padding-bottom: 5px;
}

.card div p {
    font-size: 12px;
}

.card:first-child{
    flex: 0 0 97%;
    max-width: 100%;
    min-height: 500px;
}

.surfReport:hover {
    background-image: 
        linear-gradient(var(--orange), var(--orange)),
        url(./images/weather.jpg);
}

.surfReport {
    background-image: url(./images/weather.jpg);
}

.ledWall:hover {
    background-image: 
        linear-gradient(var(--orange), var(--orange)),
        url(./images/LED.png);
}

.ledWall {
    background-image: url(./images/LED.png);
}

.calculator:hover {
    background-image: 
        linear-gradient(var(--orange), var(--orange)),
        url(./images/calculator.jpg);
}

.calculator {
    background-image: url(./images/calculator.jpg);
}

.puzzle:hover {
    background-image: 
        linear-gradient(var(--orange), var(--orange)),
        url(./images/puzzle.jpg);
}

.puzzle {
    background-image: url(./images/puzzle.jpg);
}

.runBuddy:hover {
    background-image: 
        linear-gradient(var(--orange), var(--orange)),
        url(./images/runbuddy.png);
}

.runBuddy {
    background-image: url(./images/runbuddy.png);
    background-size: 150%;
}

/* contact section */
.contact-links ul li {
    border-bottom: 3px solid var(--primary-color);
    padding-top: 20px;
}

.contact-links ul li a {
    color: var(--primary-color);
}

.contact-links ul li:hover, .contact-links ul li a:hover {
    color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    
}


@media screen and (max-width : 1080px){
    .card {
        max-width: 46%;
    }
}

@media screen and (max-width : 768px){
    .content {
        display: inline;
    }

    .section-title{
        text-align: center;
        border: none;
        border-bottom: 3px solid var(--primary-color);
        margin: 5px 20px;
    }
    .section-content {
        margin: 0 20px;
    }

    .card:first-child {
        min-height: 125px;
    }
}

@media screen and (max-width : 575px){
    header {
        padding: 0;
    }
    header h1 {
        justify-content: center;
        padding: 0;
        flex: 0 0 100%;
    }

    .links {
        margin: auto;
    }

    .card {
        margin: 5px;
        padding: 0;
        max-width: 100%;
        flex: 0 0 90%;
        min-height: 125px;
    }

    .card:first-child {
        flex: 0 0 90%;
    }
}